# nrfmicro board configuration

# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config BOARD_NRFMICRO_11
	bool "nrfmicro_11"
	depends on SOC_NRF52840_QIAA

config BOARD_NRFMICRO_11_FLIPPED
	bool "nrfmicro_11_flipped"
	depends on SOC_NRF52840_QIAA

config BOARD_NRFMICRO_13
	bool "nrfmicro_13"
	depends on SOC_NRF52840_QIAA
