/*
* Copyright (c) 2022 The ZMK Contributors
*
* SPDX-License-Identifier: MIT
*/

/dts-v1/;
#include "ckp.dtsi"


/ {
  model = "BT60_V2";
  compatible = "polarityworks,bt60_v2";

  chosen {
    zmk,matrix-transform = &ansi_transform;
  };


  ansi_transform: keymap_transform_0 {
    compatible = "zmk,matrix-transform";
    columns = <15>;
    rows = <5>;
    map = <
      RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5) RC(1,6) RC(1,7) RC(1,8) RC(1,9) RC(1,10) RC(1,11) RC(1,12)  RC(1,13)
      RC(2,0)   RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5) RC(2,6) RC(2,7) RC(2,8) RC(2,9) RC(2,10) RC(2,11) RC(2,12)   RC(2,13)
      RC(3,0)     RC(3,1) RC(3,2) RC(3,3) RC(3,4) RC(3,5) RC(3,6) RC(3,7) RC(3,8) RC(3,9) RC(3,10) RC(3,11)      RC(3,13)
      RC(4,0)       RC(4,2) RC(4,3) RC(4,4) RC(4,5) RC(4,6) RC(4,7) RC(4,8) RC(4,9) RC(4,10)  RC(4,11)       RC(4,12)
      RC(5,0)   RC(5,1)   RC(5,2)                      RC(5,6)                     RC(5,10)   RC(5,11)    RC(5,12)   RC(5,13)
    >;
  };

  iso_transform: keymap_transform_1 {
    compatible = "zmk,matrix-transform";
    columns = <15>;
    rows = <5>;
    map = <
      RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5) RC(1,6) RC(1,7) RC(1,8) RC(1,9) RC(1,10) RC(1,11) RC(1,12)   RC(1,13)
      RC(2,0)   RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5) RC(2,6) RC(2,7) RC(2,8) RC(2,9) RC(2,10) RC(2,11) RC(2,12)
      RC(3,0)     RC(3,1) RC(3,2) RC(3,3) RC(3,4) RC(3,5) RC(3,6) RC(3,7) RC(3,8) RC(3,9) RC(3,10) RC(3,11) RC(3,12)  RC(3,13)
      RC(4,0) RC(4,1) RC(4,2) RC(4,3) RC(4,4) RC(4,5) RC(4,6) RC(4,7) RC(4,8) RC(4,9) RC(4,10)  RC(4,11)         RC(4,12)
      RC(5,0)   RC(5,1)   RC(5,2)                      RC(5,6)                     RC(5,10)   RC(5,11)    RC(5,12)     RC(5,13)
    >;
  };

  all_1u_transform: keymap_transform_2 {
    compatible = "zmk,matrix-transform";
    columns = <15>;
    rows = <5>;
    map = <
      RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5) RC(1,6) RC(1,7) RC(1,8) RC(1,9) RC(1,10) RC(1,11) RC(1,12) RC(1,13) RC(1,14)
      RC(2,0)   RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5) RC(2,6) RC(2,7) RC(2,8) RC(2,9) RC(2,10) RC(2,11) RC(2,12)   RC(2,13)
      RC(3,0)     RC(3,1) RC(3,2) RC(3,3) RC(3,4) RC(3,5) RC(3,6) RC(3,7) RC(3,8) RC(3,9) RC(3,10) RC(3,11)       RC(3,13)
      RC(4,0) RC(4,1) RC(4,2) RC(4,3) RC(4,4) RC(4,5) RC(4,6) RC(4,7) RC(4,8) RC(4,9) RC(4,10) RC(4,11) RC(4,12) RC(4,13) RC(4,14)
      RC(5,0)   RC(5,1)   RC(5,2)                      RC(5,6)                        RC(5,10) RC(5,11) RC(5,12) RC(5,13) RC(5,14)
    >;
  };

  hhkb_transform: keymap_transform_3 {
    compatible = "zmk,matrix-transform";
    columns = <15>;
    rows = <5>;
    map = <
      RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5) RC(1,6) RC(1,7) RC(1,8) RC(1,9) RC(1,10) RC(1,11) RC(1,12)     RC(1,13)
      RC(2,0)   RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5) RC(2,6) RC(2,7) RC(2,8) RC(2,9) RC(2,10) RC(2,11) RC(2,12)   RC(2,13)
      RC(3,0)     RC(3,1) RC(3,2) RC(3,3) RC(3,4) RC(3,5) RC(3,6) RC(3,7) RC(3,8) RC(3,9) RC(3,10) RC(3,11)      RC(3,13)
      RC(4,0)       RC(4,2) RC(4,3) RC(4,4) RC(4,5) RC(4,6) RC(4,7) RC(4,8) RC(4,9) RC(4,10)  RC(4,11)        RC(4,12)
      RC(5,0)    RC(5,1)    RC(5,2)                       RC(5,6)                     RC(5,11)      RC(5,12)       RC(5,13)
    >;
  };
};
