/*
 * Copyright (c) 2020 Pete Johanson
 *
 * Copyright (c) 2020 The ZMK Contributors
 */
 
#include "cradio.dtsi"

&default_transform {
	col-offset = <17>;
};

&bt_unpair_combo {
	key-positions = <21 32>;
};
