# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_CRADIO_LEFT

config ZMK_KEYBOARD_NAME
	default "cradio left"

endif

if SHIELD_CRADIO_RIGHT

config ZMK_KEYBOARD_NAME
	default "cradio right"

endif
