/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

 #include "zmk_uno.dtsi"

/ {
    chosen {
        zmk,matrix-transform = &matrix_transform;
    };
    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&encoder>;
        triggers-per-rotation = <20>;
        left {
            triggers-per-rotation = <20>;
        };
    };

};
