
/ {
	chosen {
		zmk,keymap = &keymap0;
	};

	layers {
		compatible = "zmk,layers";

		default: layer_0 {
			label = "Default";
			keys = <10 2 3 8>;
		};

		lower: layer_1 {
			label = "Default";
			keys = <9 2 3 5>;
		};

		raise: layer_2 {
			label = "Default";
			keys = <8 1 2 3>;
		};
	};

	keymap0: keymap {
		compatible = "zmk,keymap";

		label ="Default keymap";
		layers = <&default &lower &raise>;
	};

	kscan {
		compatible = "gpio-kscan";
		label = "Handwired GPIO KSCAN matrix";

		row-gpios = <&arduino_header 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
		            <&arduino_header 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		col-gpios = <&arduino_header 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
		            <&arduino_header 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
	};
};
