#include <physical_layouts.dtsi>

/ {
    josefadamcik_sofle_layout: josefadamcik_sofle_layout {
        compatible = "zmk,physical-layout";
        display-name = "Sofle";

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   37       0     0     0>
            , <&key_physical_attrs 100 100  100   37       0     0     0>
            , <&key_physical_attrs 100 100  200   12       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400   12       0     0     0>
            , <&key_physical_attrs 100 100  500   24       0     0     0>
            , <&key_physical_attrs 100 100  900   24       0     0     0>
            , <&key_physical_attrs 100 100 1000   12       0     0     0>
            , <&key_physical_attrs 100 100 1100    0       0     0     0>
            , <&key_physical_attrs 100 100 1200   12       0     0     0>
            , <&key_physical_attrs 100 100 1300   37       0     0     0>
            , <&key_physical_attrs 100 100 1400   37       0     0     0>
            , <&key_physical_attrs 100 100    0  137       0     0     0>
            , <&key_physical_attrs 100 100  100  137       0     0     0>
            , <&key_physical_attrs 100 100  200  112       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  400  112       0     0     0>
            , <&key_physical_attrs 100 100  500  124       0     0     0>
            , <&key_physical_attrs 100 100  900  124       0     0     0>
            , <&key_physical_attrs 100 100 1000  112       0     0     0>
            , <&key_physical_attrs 100 100 1100  100       0     0     0>
            , <&key_physical_attrs 100 100 1200  112       0     0     0>
            , <&key_physical_attrs 100 100 1300  137       0     0     0>
            , <&key_physical_attrs 100 100 1400  137       0     0     0>
            , <&key_physical_attrs 100 100    0  237       0     0     0>
            , <&key_physical_attrs 100 100  100  237       0     0     0>
            , <&key_physical_attrs 100 100  200  212       0     0     0>
            , <&key_physical_attrs 100 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  400  212       0     0     0>
            , <&key_physical_attrs 100 100  500  224       0     0     0>
            , <&key_physical_attrs 100 100  900  224       0     0     0>
            , <&key_physical_attrs 100 100 1000  212       0     0     0>
            , <&key_physical_attrs 100 100 1100  200       0     0     0>
            , <&key_physical_attrs 100 100 1200  212       0     0     0>
            , <&key_physical_attrs 100 100 1300  237       0     0     0>
            , <&key_physical_attrs 100 100 1400  237       0     0     0>
            , <&key_physical_attrs 100 100    0  337       0     0     0>
            , <&key_physical_attrs 100 100  100  337       0     0     0>
            , <&key_physical_attrs 100 100  200  312       0     0     0>
            , <&key_physical_attrs 100 100  300  300       0     0     0>
            , <&key_physical_attrs 100 100  400  312       0     0     0>
            , <&key_physical_attrs 100 100  500  324       0     0     0>
            , <&key_physical_attrs 100 100  600  274       0     0     0>
            , <&key_physical_attrs 100 100  800  274       0     0     0>
            , <&key_physical_attrs 100 100  900  324       0     0     0>
            , <&key_physical_attrs 100 100 1000  312       0     0     0>
            , <&key_physical_attrs 100 100 1100  300       0     0     0>
            , <&key_physical_attrs 100 100 1200  312       0     0     0>
            , <&key_physical_attrs 100 100 1300  337       0     0     0>
            , <&key_physical_attrs 100 100 1400  337       0     0     0>
            , <&key_physical_attrs 100 100  175  437       0     0     0>
            , <&key_physical_attrs 100 100  275  412       0     0     0>
            , <&key_physical_attrs 100 100  375  412       0     0     0>
            , <&key_physical_attrs 100 100  490  412    1200   490   412>
            , <&key_physical_attrs 100 150  600  383    2400   600   433>
            , <&key_physical_attrs 100 150  800  383  (-2400)  900   433>
            , <&key_physical_attrs 100 100  910  412  (-1200) 1010   412>
            , <&key_physical_attrs 100 100  1025 412       0     0     0>
            , <&key_physical_attrs 100 100  1125 412       0     0     0>
            , <&key_physical_attrs 100 100  1225 437       0     0     0>
        ;
    };
};