#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&kscan {
    /delete-property/ exit-after;
    events = <>;
};
/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
            &kp A &kp B
            &bt BT_SEL 0 &bt BT_CLR>;
        };
    };
};
