# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_SPLITKB_AURORA_LILY58_LEFT
    def_bool $(shields_list_contains,splitkb_aurora_lily58_left)

config SHIELD_SPLITKB_AURORA_LILY58_RIGHT
    def_bool $(shields_list_contains,splitkb_aurora_lily58_right)
