/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/ext_power.h>

/* Layers */
#define _FUNC 1
#define _ADMIN 2

/ {
    keymap {
        compatible = "zmk,keymap";
        
        default_layer {
            bindings = <
                &kp N1      &kp N2
                &kp N3      &kp N4
                &kp N5      &kp N6
                &mo _ADMIN  &mo _FUNC
            >;   
        };
        
        func_layer {
            bindings = <
                &kp Q   &kp LC(LA(DELETE))
                &kp A   &kp LC(LS(ESCAPE))
                &kp Z   &kp X
                &trans  &trans
            >;
        };

        admin_layer {
            bindings = <
                &bootloader  &reset
                &kp N7       &kp N8
                &kp N9       &kp N0
                &trans       &trans
            >;
        };
    };
};
