# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_SNAP_LEFT
	def_bool $(shields_list_contains,snap_left)

config SHIELD_SNAP_RIGHT
	def_bool $(shields_list_contains,snap_right)
