mainmenu "ZMK Firmware"

config ZMK_KSCAN_EVENT_QUEUE_SIZE
	int "Size of the event queue for KSCAN events to buffer events"
	default 4

config ZMK_BLE
	bool "Enable low energy bluetooth support"
	select BT
	select BT_SMP
	select BT_SMP_SC_PAIR_ONLY
	select BT_PERIPHERAL
	select BT_GATT_DIS
	select BT_GATT_BAS

if ZMK_BLE

config ZMK_BLE_PASSKEY_ENTRY
	bool "Experimental: Requiring typing passkey from host to pair BLE connection"
	default n

endif

config ZMK_KSCAN_MOCK_DRIVER
	bool "Enable mock kscan driver to simulate key presses"
	default n

module = ZMK
module-str = zmk
source "subsys/logging/Kconfig.template.log_config"

source "Kconfig.zephyr"
