# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

menu "ZMK Display Widgets"

config ZMK_WIDGET_LAYER_STATUS
    bool "Widget for highest, active layer using small icons"
    default y
    depends on !ZMK_SPLIT || ZMK_SPLIT_ROLE_CENTRAL
    select LVGL_USE_LABEL

config ZMK_WIDGET_BATTERY_STATUS
    bool "Widget for battery charge information, using small icons"
    depends on BT
    default y if BT
    select LVGL_USE_LABEL

config ZMK_WIDGET_OUTPUT_STATUS
    bool "Widget for keyboard output status icons"
    depends on BT && (!ZMK_SPLIT_BLE || ZMK_SPLIT_ROLE_CENTRAL)
    default y if BT && (!ZMK_SPLIT_BLE || ZMK_SPLIT_ROLE_CENTRAL)
    select LVGL_USE_LABEL

config ZMK_WIDGET_PERIPHERAL_STATUS
    bool "Widget for split peripheral status icons"
    depends on BT && ZMK_SPLIT_BLE && !ZMK_SPLIT_ROLE_CENTRAL
    default y if BT && ZMK_SPLIT_BLE && !ZMK_SPLIT_ROLE_CENTRAL
    select LVGL_USE_LABEL
    
config ZMK_WIDGET_WPM_STATUS
    bool "Widget for displaying typed words per minute"
    depends on !ZMK_SPLIT || ZMK_SPLIT_ROLE_CENTRAL
    select LVGL_USE_LABEL
    select ZMK_WPM

config ZMK_WIDGET_BONGO_CAT
    bool "Widget for displaying bongo cat"
    depends on !ZMK_SPLIT || ZMK_SPLIT_BLE_ROLE_CENTRAL
    select LVGL_USE_LABEL
    select LVGL_USE_IMG
    
config ZMK_WIDGET_LABEL
    bool "Widget for text label"
    depends on !ZMK_SPLIT || !ZMK_SPLIT_ROLE_CENTRAL
    select LVGL_USE_LABEL

if ZMK_WIDGET_LABEL

config ZMK_WIDGET_LABEL_TEXT
    string "Label widget text"
    default ZMK_KEYBOARD_NAME

endif # ZMK_WIDGET_LABEL
endmenu
