#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/kscan-mock.h>

/ {
	combos {
		compatible = "zmk,combos";
		combo_one {
			timeout-ms = <30>;
			key-positions = <0 1>;
			bindings = <&kp C>;
			slow-release;
		};
	};

	keymap {
		compatible = "zmk,keymap";
		label ="Default keymap";

		default_layer {
			bindings = <
				&kp A &kp B
				&kp D &none
			>;
		};
	};
};

&kscan {
	events = <
		ZMK_MOCK_PRESS(0,0,10) 
		ZMK_MOCK_PRESS(0,1,10) 
		ZMK_MOCK_RELEASE(0,0,10) /* this should not release the combo yet */
		ZMK_MOCK_PRESS(1,0,10)
		ZMK_MOCK_RELEASE(0,1,10)
		ZMK_MOCK_RELEASE(1,0,10) 
	>;
};