#
# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT
#

config BOARD_ADV360PRO_LEFT
    bool "adv360pro_left"
    depends on SOC_NRF52840_QIAA

config BOARD_ADV360PRO_RIGHT
    bool "adv360pro_right"
    depends on SOC_NRF52840_QIAA
