config ZMK_KSCAN_GPIO_DRIVER
	bool "Enable GPIO kscan driver to simulate key presses"
	default y
	select GPIO

if ZMK_KSCAN_GPIO_DRIVER

config ZMK_KSCAN_MATRIX_POLLING
	bool "Poll for key event triggers instead of using interrupts on matrix boards."
	default n

config ZMK_KSCAN_DIRECT_POLLING
	bool "Poll for key event triggers instead of using interrupts on direct wired boards."
    default n

endif

config ZMK_KSCAN_INIT_PRIORITY
	int "Keyboard scan driver init priority"
	default 40
	help
	  Keyboard scan device driver initialization priority.

menuconfig EC11
	bool "EC11 Incremental Encoder Sensor"
	depends on GPIO
	help
	  Enable driver for EC11 incremental encoder sensors.

if EC11

choice
	prompt "Trigger mode"
	default EC11_TRIGGER_NONE
	help
	  Specify the type of triggering to be used by the driver.

config EC11_TRIGGER_NONE
	bool "No trigger"

config EC11_TRIGGER_GLOBAL_THREAD
	bool "Use global thread"
	depends on GPIO
	select EC11_TRIGGER

config EC11_TRIGGER_OWN_THREAD
	bool "Use own thread"
	depends on GPIO
	select EC11_TRIGGER

endchoice

config EC11_TRIGGER
	bool

config EC11_THREAD_PRIORITY
	int "Thread priority"
	depends on EC11_TRIGGER_OWN_THREAD
	default 10
	help
	  Priority of thread used by the driver to handle interrupts.

config EC11_THREAD_STACK_SIZE
	int "Thread stack size"
	depends on EC11_TRIGGER_OWN_THREAD
	default 1024
	help
	  Stack size of thread used by the driver to handle interrupts.

endif # EC11
