# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_MF68
	def_bool $(shields_list_contains,mf68)

config SHIELD_MF68_FEATHER
	def_bool $(shields_list_contains,mf68_feather)
