#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/kscan_mock.h>

/ {
    behaviors {
        move_layer: move_layer {
            compatible = "zmk,behavior-move-layer";
            #binding-cells = <2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &move_layer 1 2 &kp A
                &mo 1 &mo 2>;
        };

        layer_1 {
            bindings = <
                &kp B &trans
                &trans &trans>;
        };

        layer_2 {
            bindings = <
                &trans &kp C
                &trans &trans>;
        };
    };
};
