/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default Layer";

            bindings = <
    &tog 1 &kp C_PREV   &kp C_PP &kp C_NEXT
    &mo 2  &kp C_VOL_DN &kp UP   &kp C_VOL_UP
    &mo 3  &kp LEFT     &kp DOWN &kp RIGHT
            >;

        };

        num_layer {
            display-name = "Num Layer";
            bindings = <
    &trans   &kp N7 &kp N8 &kp N9
    &trans   &kp N4 &kp N5 &kp N6
    &lt 3 N0 &kp N1 &kp N2 &kp N3
            >;
        };

        lower_layer {
            display-name = "Lower Layer";
            bindings = <
    &bt BT_CLR &none        &sys_reset       &bootloader
    &trans     &bt BT_SEL 3 &bt BT_SEL 4 &none
    &none      &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2
            >;
        };

        raise_layer {
            display-name = "Raise Layer";
            bindings = <
    &kp 0x68 &kp 0x69 &kp 0x6A &kp 0x6B
    &kp 0x6C &kp 0x6D &kp 0x6E &kp 0x6F
    &trans   &kp 0x70 &kp 0x71 &kp 0x72
            >;
        };
    };
};
