
# Copyright (c) 2020 Derek Schmell
# SPDX-License-Identifier: MIT
 
 
if SHIELD_BASTYL_LEFT

config ZMK_KEYBOARD_NAME
	default "Bastyl Left"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_BASTYL_RIGHT

config ZMK_KEYBOARD_NAME
	default "Bastyl Right"

endif

if SHIELD_BASTYL_LEFT || SHIELD_BASTYL_RIGHT

config ZMK_SPLIT
	default y
	
endif
