/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #026fc5;
  --ifm-color-primary-dark: #0264b1;
  --ifm-color-primary-darker: #025ea7;
  --ifm-color-primary-darkest: #014e8a;
  --ifm-color-primary-light: #027ad9;
  --ifm-color-primary-lighter: #0280e3;
  --ifm-color-primary-lightest: #0690fc;
  --ifm-code-font-size: 95%;

  --docusaurus-highlighted-code-line-bg: rgb(0 0 0 / 8%);
}

[data-theme="dark"] {
  --docusaurus-highlighted-code-line-bg: rgb(255 255 255 / 8%);
}

.docusaurus-highlight-code-line {
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.video-container {
  height: 0;
  margin: 0;
  margin-bottom: 30px;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
