# Planck keyboard configuration

# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if BOARD_PLANCK_REV6

config ZMK_KEYBOARD_NAME
    default "Planck V6"

config ZMK_KSCAN_MATRIX_POLLING
    default y

endif # BOARD_PLANCK_REV6
