# No whitespace after the comma or in your part name!
config SHIELD_SWAY_LEFT
    def_bool $(shields_list_contains,sway_left)

# No whitespace after the comma or in your part name!
config SHIELD_SWAY_RIGHT
    def_bool $(shields_list_contains,sway_right)