/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

/ {
	keymap0: keymap {
		compatible = "zmk,keymap";

		default_layer {
// -----------------------------------------------------------------------------------------------------
// | ESC     |  1    |  2    |  3    |  4      |  5  |  6      |  7  |  8  |  9  |  0   |  -    |             =         |        | BKSP  |  ~    |     
// | TAB     |  Q    |  W    |  E    |  R      |  T  |  Y      |  U  |  I  |  O  |  P   |  [    |             ]         |  P7    | P8    |  P9   |     
// | CAPS    |  A    |  S    |  D    |  F      |  G  |  H      |  J  |  K  |  L  |  ;   |       |               ENTER   |  P4    | P5    |  P6   |
// |  SHIFT  |       | Z     |  X    |  C      |  V  |  B      |  N  |  M  |  ,  |  .   |  /    |               UP      |  P1    | P2    |  P3   |
// |  CTL    |  WIN  |  ALT  |       |  SPACE  |     |  SHIFT  |     |     |  fn |  ALT |  LEFT |             DOWN      | RIGHT  | P0    |  DEL  |   
// -----------------------------------------------------------------------------------------------------
			bindings = <
	&kp ESC    &kp N1    &kp N2    &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8 &kp N9    &kp N0     &kp MINUS    &kp EQUAL              &kp BSPC  &kp GRAVE
    &kp TAB    &kp Q     &kp W     &kp E  &kp R  &kp T  &kp Y  &kp U  &kp I  &kp O     &kp P      &kp LBKT     &kp RBKT     &kp KP_N7 &kp KP_N8 &kp KP_N9
	&kp CLCK   &kp A     &kp S     &kp D  &kp F  &kp G  &kp H  &kp J  &kp K  &kp L     &kp SEMI                &kp ENTER    &kp KP_N4 &kp KP_N5 &kp KP_N6 
	&kp LSHFT            &kp Z     &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &kp COMMA &kp DOT    &kp SLASH    &kp UP       &kp KP_N1 &kp KP_N2 &kp KP_N3
	&kp LCTRL  &kp LWIN  &kp LALT         &kp SPACE     &kp RSHIFT           &mo 1     &kp RALT  &kp LEFT      &kp DOWN     &kp RIGHT &kp KP_N0 &kp DEL 
			>;
		};
	
		fn_layer {
// ------------------------------------------------------------------------------------------------------
// | ESC     | F1    | F2    | F3    | F4             | F5  | F6      | F7  | F8  | F9  | F10  |  F11  |           F12         |        | BT_CLR  |  BOOT    |     
// | TAB     | BT1   |  BT2  |  BT3  |  R             |  T  |  Y      |  U  |  I  |  O  |  P   |  [    |             ]         |  \     | NUM     |  VOLUP   |     
// | CAPS    |  A    |  S    |  D    |  F             |  G  |  H      |  J  |  K  |  L  |  ;   |       |          ’            |  P4    | P5      |  VOLDN  |
// |  SHIFT  |       | Z     |  X    |  C             |  V  |  B      |  N  |  M  |  ,  |  .   |  /    |               UP      |  P1    | P2      |  P3   |
// |  CTL    |  WIN  |  ALT  |       |  trans USB/BT  |     |  SHIFT  |     |     |  fn |  CTL |  LEFT |             DOWN      | RIGHT  | P0      |  DEL  |   
// ------------------------------------------------------------------------------------------------------
			bindings = <
	&kp ESC    &kp F1       &kp F2       &kp F3       &kp F4 &kp F5 &kp F6 &kp F7 &kp F8 &kp F9    &kp F10    &kp F11      &kp F12                &bt BT_CLR  &bootloader
    &kp TAB    &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &kp R  &kp T  &kp Y  &kp U  &kp I  &kp O     &kp P      &kp LBKT     &kp RBKT     &kp NUBS  &kp KP_NUM  &kp C_VOL_UP
	&kp CLCK   &kp A        &kp S        &kp D        &kp F  &kp G  &kp H  &kp J  &kp K  &kp L     &kp SEMI                &kp SQT      &kp KP_N4 &kp KP_N5   &kp C_VOL_DN 
	&kp LSHFT               &kp Z        &kp X        &kp C  &kp V  &kp B  &kp N  &kp M  &kp COMMA &kp DOT    &kp SLASH    &kp UP       &kp KP_N1 &kp KP_N2   &kp KP_N3
	&kp LCTRL  &kp LWIN  &kp LALT        &out OUT_TOG        &kp RSHIFT           &trans     &kp RCTRL  &kp LEFT      &kp DOWN     &kp RIGHT &kp KP_N0 &kp DEL 
			>;	
		};
	};
};
