# Ferris board configuration

# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config BOARD_FERRIS
    select SOC_STM32F072XB
    imply RETAINED_MEM
    imply RETENTION
    imply RETENTION_BOOT_MODE
    imply STM32_BOOTLOADER
    imply RTC
    imply BBRAM
