# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_LETS_SPLIT_LEFT

config ZMK_KEYBOARD_NAME
    default "LS_Left"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif

if SHIELD_LETS_SPLIT_RIGHT

config ZMK_KEYBOARD_NAME
    default "LS_Right"

endif

if SHIELD_LETS_SPLIT_LEFT || SHIELD_LETS_SPLIT_RIGHT

config ZMK_SPLIT
    default y

endif
