/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
       keymap {
              compatible = "zmk,keymap";
              default_layer {
                     // |  TAB  |  Q   |  W   |  E   |  R   |  T   |                | Y   |  U    |  I   |  O   |   P   | BSPC  |
                     // |  ESC  |  A   |  S   |  D   |  F   |  G   |                | H   |  J    |  K   |  L   |   ;   |  '    |
                     // | SHIFT |  Z   |  X   |  C   |  V   |  B   |                | N   |  M    |  ,   |  .   |   /   |  RET  |
                     // | none  | LGUI | LALT | LCTL | NUMS | SPACE|                |SPACE| BSPC | LEFT | DOWN  |  UP   | RIGHT |

                     bindings = <
                     &kp TAB   &kp Q    &kp W    &kp E     &kp R &kp T              &kp Y     &kp U    &kp I     &kp O    &kp P    &kp BSPC
                     &kp ESC   &kp A    &kp S    &kp D     &kp F &kp G              &kp H     &kp J    &kp K     &kp L    &kp SEMI &kp SQT
                     &kp LSHFT &kp Z    &kp X    &kp C     &kp V &kp B              &kp N     &kp M    &kp COMMA &kp DOT  &kp BSLH &kp RET
                     &none     &kp LGUI &kp LALT &kp LCTRL &mo 1 &kp SPACE          &kp SPACE &kp BSPC &kp LEFT  &kp DOWN &kp UP   &kp RIGHT
                     >;
              };
              nums_layer {
                     // |      |      |      |      |      |      |                  |      |      |      |      |      |      |
                     // |      |  1   |  2   |  3   |  4   |  5   |                  |  6   |  7   |  8   |  9   |  0   |      |
                     // |      |      |      |      |      |      |                  |      |      |      |      |      |      |
                     // |      |      |      |      |      |      |                  |      |      |      |      |      |      |
                     // |      |      |      |      |      |      |                  |      |      |      |      |      |      |

                     bindings = <
                     &trans &trans &trans &trans &trans &trans              &trans &trans &trans &trans &trans &trans
                     &trans &kp N1 &kp N2 &kp N3 &kp N4 &kp N5              &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &trans
                     &trans &trans &trans &trans &trans &trans              &trans &trans &trans &trans &trans &trans
                     &trans &trans &trans &trans &trans &trans              &trans &trans &trans &trans &trans &trans
                     >;
              };

       };
};
