#include <layouts/common/numpad/position_map.dtsi>
#include <physical_layouts.dtsi>

/ {
    layout_numpad_22_key: layout_numpad_22_key {
        compatible = "zmk,physical-layout";
        display-name = "22 Key Numpad";

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0    0       0     0     0>
            , <&key_physical_attrs 100 100  100    0       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100    0  125       0     0     0>
            , <&key_physical_attrs 100 100  100  125       0     0     0>
            , <&key_physical_attrs 100 100  200  125       0     0     0>
            , <&key_physical_attrs 100 100  300  125       0     0     0>
            , <&key_physical_attrs 100 100    0  225       0     0     0>
            , <&key_physical_attrs 100 100  100  225       0     0     0>
            , <&key_physical_attrs 100 100  200  225       0     0     0>
            , <&key_physical_attrs 100 100  300  225       0     0     0>
            , <&key_physical_attrs 100 100    0  325       0     0     0>
            , <&key_physical_attrs 100 100  100  325       0     0     0>
            , <&key_physical_attrs 100 100  200  325       0     0     0>
            , <&key_physical_attrs 100 100  300  325       0     0     0>
            , <&key_physical_attrs 100 100    0  425       0     0     0>
            , <&key_physical_attrs 100 100  100  425       0     0     0>
            , <&key_physical_attrs 100 100  200  425       0     0     0>
            , <&key_physical_attrs 100 200  300  425       0     0     0>
            , <&key_physical_attrs 200 100    0  525       0     0     0>
            , <&key_physical_attrs 100 100  200  525       0     0     0>
            ;
    };
};

&layouts_common_numpad_position_map {
    layout_numpad_22_key {
        physical-layout = <&layout_numpad_22_key>;
        positions
            = < 0  1  2  3>
            , < 4  5  6  7>
            , < 8  9 10 11>
            , <12 13 14 15>
            , <16 17 18 19>
            , <20 22 21 23>
            ;
    };
};
