
if SHIELD_BREEZE_LEFT

config ZMK_KEYBOARD_NAME
	default "Breeze"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_BREEZE_LEFT || SHIELD_BREEZE_RIGHT

config ZMK_SPLIT
	default y
 
endif
