
config ZMK_DBL_TAP_BOOTLOADER
    default y if STM32_BOOTLOADER || RPI_PICO_ROM_BOOTLOADER
    depends on RETENTION_BOOT_MODE

if ZMK_DBL_TAP_BOOTLOADER

config ZMK_DBL_TAP_BOOTLOADER_TIMEOUT_MS
    default 500

config ZMK_DBL_TAP_BOOTLOADER_INIT_PRIORITY
    default 20

endif

if ZMK_BOOTMODE_TO_MAGIC_VALUE_MAPPER

choice ZMK_BOOTMODE_MAGIC_VALUE_BOOTLOADER_TYPE
    default ZMK_BOOTMODE_MAGIC_VALUE_BOOTLOADER_TYPE_ADAFRUIT_NRF52 if SOC_NRF52840

endchoice

config ZMK_BOOTMODE_BOOTLOADER_MAGIC_VALUE
    default 0xf01669ef if ZMK_BOOTMODE_MAGIC_VALUE_BOOTLOADER_TYPE_TINYUF2 || ZMK_BOOTMODE_MAGIC_VALUE_BOOTLOADER_TYPE_ADAFRUIT_BOSSA || BOOTLOADER_BOSSA_ADAFRUIT_UF2
    default 0x57 if ZMK_BOOTMODE_MAGIC_VALUE_BOOTLOADER_TYPE_ADAFRUIT_NRF52

endif
