# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

if ZMK_STUDIO

if ZMK_STUDIO_RPC

config ZMK_STUDIO_TRANSPORT_BLE_PREF_LATENCY
    default 10

config ZMK_STUDIO_RPC_THREAD_STACK_SIZE
    default 4096

config ZMK_STUDIO_RPC_RX_BUF_SIZE
    default 30

config ZMK_STUDIO_RPC_TX_BUF_SIZE
    default 64

endif # ZMK_STUDIO_RPC

endif # ZMK_STUDIO
