#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/kscan_mock.h>

/ {
    combos {
        compatible = "zmk,combos";

        combo_ab {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp X>;
            require-prior-idle-ms = <100>;
            require-prior-idle-ignore = <C LC(D)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp A &kp B
                &kp C &kp D
                &kp LCTL &kp LGUI
            >;
        };
    };
};

&kscan {
    rows = <3>;
    columns = <2>;
    events = <
        // Tap C and then combo, should actuate
        ZMK_MOCK_PRESS(1,0,10)
        ZMK_MOCK_RELEASE(1,0,10)
        ZMK_MOCK_PRESS(0,0,10)
        ZMK_MOCK_PRESS(0,1,10)
        ZMK_MOCK_RELEASE(0,0,10)
        ZMK_MOCK_RELEASE(0,1,100)

        // Tap D and then combo, should NOT actuate
        ZMK_MOCK_PRESS(1,1,10)
        ZMK_MOCK_RELEASE(1,1,10)
        ZMK_MOCK_PRESS(0,0,10)
        ZMK_MOCK_PRESS(0,1,10)
        ZMK_MOCK_RELEASE(0,0,10)
        ZMK_MOCK_RELEASE(0,1,100)

        // Tap LC(D) and then combo, should actuate
        ZMK_MOCK_PRESS(2,0,10)
        ZMK_MOCK_PRESS(1,1,10)
        ZMK_MOCK_RELEASE(1,1,10)
        ZMK_MOCK_RELEASE(2,0,10)
        ZMK_MOCK_PRESS(0,0,10)
        ZMK_MOCK_PRESS(0,1,10)
        ZMK_MOCK_RELEASE(0,0,10)
        ZMK_MOCK_RELEASE(0,1,100)
    >;
};
