/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */


#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ------------------------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   -   |
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   \   |
// |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   |                   |  N   |  M    |  ,    |  .   |   /   | SHIFT |
// | LCTL  | LGUI  | LALT |  GRAV |  | EQL | DEL | BKSP|  | RET | SPC  | LBKT |  RBKT  | LBKT | HOME  |   END |
            bindings = <
&kp ESC   &kp N1    &kp N2   &kp N3    &kp N4    &kp N5                    &kp N6    &kp N7   &kp N8    &kp N9    &kp N0   &kp MINUS
&kp TAB   &kp Q     &kp W    &kp E     &kp R     &kp T                     &kp Y     &kp U    &kp I     &kp O     &kp P    &kp BSLH
&kp LCTRL &kp A     &kp S    &kp D     &kp F     &kp G                     &kp H     &kp J    &kp K     &kp L     &kp SEMI &kp SQT
&kp LSHFT &kp Z     &kp X    &kp C     &kp V     &kp B                     &kp N     &kp M    &kp COMMA &kp DOT   &kp FSLH &kp RSHFT
&kp LCTRL &kp LGUI  &kp LALT &kp GRAVE &kp EQUAL &kp DEL                   &kp SPACE &kp LBKT &kp RBKT  &kp MINUS &kp HOME &kp END
                                                 &kp BSPC                  &kp RET
            >;
        };
    };
};
