# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

menuconfig ZMK_SPLIT
    bool "Split keyboard support"

if ZMK_SPLIT

config ZMK_SPLIT_ROLE_CENTRAL
    bool "Split central device"

config ZMK_SPLIT_BLE
    bool "BLE Split"
    default y
    depends on ZMK_BLE
    select BT_USER_PHY_UPDATE
    select BT_AUTO_PHY_UPDATE

config ZMK_SPLIT_WIRED
    bool "Wired Split"
    default y if !ZMK_SPLIT_BLE
    depends on DT_HAS_ZMK_WIRED_SPLIT_ENABLED
    select SERIAL
    select RING_BUFFER
    select CRC

config ZMK_SPLIT_PERIPHERAL_HID_INDICATORS
    bool "Peripheral HID Indicators"
    depends on ZMK_HID_INDICATORS
    help
      Enable propagating the HID (LED) Indicator state to the split peripheral(s).

endif # ZMK_SPLIT
config ZMK_SPLIT_PERIPHERAL_MAX_BONDS
    int "Max bonded centrals to track"
    default 4
    help
      The maximum number of bonded central devices (dongles) the peripheral should remember and rotate advertising for.

config ZMK_SPLIT_PERIPHERAL_ADV_ROTATION_INTERVAL
    int "Advertising rotation interval (seconds)"
    default 5
    help
      Time (in seconds) between rotating directed advertising to known bonded centrals.
rsource "bluetooth/Kconfig"
rsource "wired/Kconfig"
