#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/kscan_mock.h>

/ {
	behaviors {
		tp: behavior_tap_preferred {
			compatible = "zmk,behavior-hold-tap";
			label = "MOD_TAP";
			#binding-cells = <2>;
			flavor = "tap-preferred";
			tapping-term-ms = <300>;
			quick-tap-ms = <300>;
			bindings = <&kp>, <&kp>;
			global-quick-tap;
		};
	};

	keymap {
		compatible = "zmk,keymap";
		label ="Default keymap";

		default_layer {
			bindings = <
				&tp LEFT_SHIFT F &tp LEFT_CONTROL C
				&kp D &none>;
		};
	};
};
