# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_ZODIARK_LEFT
	def_bool $(shields_list_contains,zodiark_left)

config SHIELD_ZODIARK_RIGHT
	def_bool $(shields_list_contains,zodiark_right)
