#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/kscan_mock.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &trans &mo 1
                &kp A &none>;
        };

        lower_layer {
            bindings = <
                &trans &trans
                &trans  &kp A>;
        };
    };
};
