/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "jiran.dtsi"

&kscan0 {
	col-gpios
		= <&pro_micro_d  1 GPIO_ACTIVE_HIGH>
		, <&pro_micro_d  0 GPIO_ACTIVE_HIGH>
		, <&pro_micro_d  4 GPIO_ACTIVE_HIGH>
		, <&pro_micro_d  5 GPIO_ACTIVE_HIGH>
		, <&pro_micro_d  6 GPIO_ACTIVE_HIGH>
		, <&pro_micro_d  7 GPIO_ACTIVE_HIGH>
		;
};
