/*
 * Copyright (c) 2021 Richard Titmuss
 *
 * SPDX-License-Identifier: MIT
 */

#include "tornblue.dtsi"

&kscan0 {
    row-gpios
        = <&gpio1 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpio1 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpio1 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&gpio1 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        ;

	col-gpios
        = <&gpio0 5  GPIO_ACTIVE_HIGH>
        , <&gpio0 4  GPIO_ACTIVE_HIGH>
        , <&gpio0 31 GPIO_ACTIVE_HIGH>
        , <&gpio0 7  GPIO_ACTIVE_HIGH>
        , <&gpio1 9  GPIO_ACTIVE_HIGH>
        , <&gpio0 12 GPIO_ACTIVE_HIGH>
		;
};

/ {
    left_encoder: encoder_left {
            compatible = "alps,ec11";
            label = "LEFT_ENCODER";
            a-gpios = <&gpio0 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
            b-gpios = <&gpio0 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
            resolution = <4>;
    };

    sensors {
            compatible = "zmk,keymap-sensors";
            sensors = <&left_encoder>;
    };

    leds {
        compatible = "gpio-leds";
        led1: led1 {
            gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>;
            label = "LED 1"; /* D28 */
        };
        led2: led2 {
            gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>;
            label = "LED 2"; /* D27 */
        };
        led3: led3 {
            gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;
            label = "LED 3"; /* D26 */
        };
    };

    ext-power {
        compatible = "zmk,ext-power-generic";
        label = "EXT_POWER";
        control-gpios = <&gpio0 19 GPIO_ACTIVE_LOW>;
    };
};

&spi0 {
	compatible = "nordic,nrf-spim";
	// Cannot be used together with i2c0
	status = "okay";
	mosi-pin = <23>;
    // Unused pins, needed for SPI definition, but not used by the ws2812 driver itself.
	sck-pin = <6>;
	miso-pin = <8>;

	led_strip: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";
		label = "WS2812";

		// SPI
		reg = <0>; /* ignored, but necessary for SPI bindings */
		spi-max-frequency = <4000000>;

		// WS2812
		chain-length = <6>; /* LED strip length */
		spi-one-frame = <0x70>;
		spi-zero-frame = <0x40>;
		color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
	};
};

&left_encoder {
    status = "okay";
};
