#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/kscan-mock.h>

/ {
	behaviors {
		fsf: behavior_f_shift {
			compatible = "zmk,behavior-tap-hold";
			label = "f-shift";
			#binding-cells = <0>;
			tapping_term_ms = <300>;
			bindings = <&kp F>, <&kp LSFT>;
			flavor = "balanced";
		};
		
		jct: behavior_j_ctrl {
			compatible = "zmk,behavior-tap-hold";
			label = "j-ctrl";
			#binding-cells = <0>;
			tapping_term_ms = <300>;
			bindings = <&kp J>, <&kp LCTL>;
			flavor = "balanced";
		};
	};

	keymap {
		compatible = "zmk,keymap";
		label ="Default keymap";

		default_layer {
			bindings = <
				&fsf &jct
				&kp D &kp RCTL>;
		};

		lower_layer {
			bindings = <
				&cp M_NEXT &trans
				&kp L  &kp J>;
		};

		raise_layer {
			bindings = <
				&kp W &kp U
				&kp X  &kp M>;
		};
	};
};
