# BlueMicro52840_V1 board configuration

# Copyright (c) 2020 Pete Johanson, Derek Schmell
# SPDX-License-Identifier: MIT

config BOARD_BLUEMICRO52840_V1
	bool "BlueMicro52840_V1"
	depends on SOC_NRF52840_QIAA
