# Copyright (c) 2023 Matthew Adereth
# SPDX-License-Identifier: MIT

config SHIELD_DACTYL_LIGHTCYCLE_LEFT
    def_bool $(shields_list_contains,dactyl_lightcycle_left)

config SHIELD_DACTYL_LIGHTCYCLE_RIGHT
    def_bool $(shields_list_contains,dactyl_lightcycle_right)
