# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_BFO9000_LEFT

config ZMK_KEYBOARD_NAME
	default "BFO-9000"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_BFO9000_LEFT || SHIELD_BFO9000_RIGHT

config ZMK_SPLIT
	default y

endif