# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT


if SHIELD_FOURIER_LEFT

config ZMK_KEYBOARD_NAME
	default "Fourier"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_FOURIER_LEFT || SHIELD_FOURIER_RIGHT

config ZMK_SPLIT
	default y

endif
