# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: Apache-2.0

config BOARD_NICE_NANO
    select SOC_NRF52840_QIAA
    imply RETAINED_MEM if BOARD_NICE_NANO_NRF52840_ZMK
    imply RETENTION if BOARD_NICE_NANO_NRF52840_ZMK
    imply RETENTION_BOOT_MODE if BOARD_NICE_NANO_NRF52840_ZMK
