# nice!nano board configuration

# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config BOARD_NICE_NANO
	bool "nice!nano"
	depends on SOC_NRF52840_QIAA

config BOARD_NICE_NANO_V2
	bool "nice!nano v2"
	depends on SOC_NRF52840_QIAA

