/*
 * Copyright (c) 2021 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 */

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>

#include <dt-bindings/zmk/matrix_transform.h>

#include <physical_layouts.dtsi>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &default_layout;
        zephyr,code-partition = &code_partition;
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <14>;
        rows = <6>;
        map = <
            RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4)                                                                    RC(0,9) RC(0,10) RC(0,11) RC(0,12) RC(0,13)
            RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5)                                                    RC(1,8) RC(1,9) RC(1,10) RC(1,11) RC(1,12) RC(1,13)
            RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5)                                                    RC(2,8) RC(2,9) RC(2,10) RC(2,11) RC(2,12) RC(2,13)
            RC(3,0) RC(3,1) RC(3,2) RC(3,3) RC(3,4) RC(3,5)                                                    RC(3,8) RC(3,9) RC(3,10) RC(3,11) RC(3,12) RC(3,13)
            RC(4,0) RC(4,1) RC(4,2) RC(4,3) RC(4,4) RC(4,5) RC(0,6) RC(1,6) RC(2,6)   RC(2,7) RC(1,7)  RC(0,7) RC(4,8) RC(4,9) RC(4,10) RC(4,11) RC(4,12) RC(4,13)
            RC(5,0) RC(5,1) RC(5,2) RC(5,3) RC(5,4)         RC(3,6) RC(4,6) RC(5,6)   RC(5,7) RC(4,7)  RC(3,7)         RC(5,9) RC(5,10) RC(5,11) RC(5,12) RC(5,13)
        >;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;

        diode-direction = "col2row";
        debounce-press-ms = <4>;
        debounce-release-ms = <20>;
    };

    default_layout: default_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default";

        transform = <&default_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   50       0     0     0>
            , <&key_physical_attrs 100 100  100   50       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400    0       0     0     0>
            , <&key_physical_attrs 100 100 1300    0       0     0     0>
            , <&key_physical_attrs 100 100 1400    0       0     0     0>
            , <&key_physical_attrs 100 100 1500    0       0     0     0>
            , <&key_physical_attrs 100 100 1600   50       0     0     0>
            , <&key_physical_attrs 100 100 1700   50       0     0     0>
            , <&key_physical_attrs 100 100    0  150       0     0     0>
            , <&key_physical_attrs 100 100  100  150       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  400  100       0     0     0>
            , <&key_physical_attrs 100 100  500  100       0     0     0>
            , <&key_physical_attrs 100 100 1200  100       0     0     0>
            , <&key_physical_attrs 100 100 1300  100       0     0     0>
            , <&key_physical_attrs 100 100 1400  100       0     0     0>
            , <&key_physical_attrs 100 100 1500  100       0     0     0>
            , <&key_physical_attrs 100 100 1600  150       0     0     0>
            , <&key_physical_attrs 100 100 1700  150       0     0     0>
            , <&key_physical_attrs 100 100    0  250       0     0     0>
            , <&key_physical_attrs 100 100  100  250       0     0     0>
            , <&key_physical_attrs 100 100  200  200       0     0     0>
            , <&key_physical_attrs 100 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  400  200       0     0     0>
            , <&key_physical_attrs 100 100  500  200       0     0     0>
            , <&key_physical_attrs 100 100 1200  200       0     0     0>
            , <&key_physical_attrs 100 100 1300  200       0     0     0>
            , <&key_physical_attrs 100 100 1400  200       0     0     0>
            , <&key_physical_attrs 100 100 1500  200       0     0     0>
            , <&key_physical_attrs 100 100 1600  250       0     0     0>
            , <&key_physical_attrs 100 100 1700  250       0     0     0>
            , <&key_physical_attrs 100 100    0  350       0     0     0>
            , <&key_physical_attrs 100 100  100  350       0     0     0>
            , <&key_physical_attrs 100 100  200  300       0     0     0>
            , <&key_physical_attrs 100 100  300  300       0     0     0>
            , <&key_physical_attrs 100 100  400  300       0     0     0>
            , <&key_physical_attrs 100 100  500  300       0     0     0>
            , <&key_physical_attrs 100 100 1200  300       0     0     0>
            , <&key_physical_attrs 100 100 1300  300       0     0     0>
            , <&key_physical_attrs 100 100 1400  300       0     0     0>
            , <&key_physical_attrs 100 100 1500  300       0     0     0>
            , <&key_physical_attrs 100 100 1600  350       0     0     0>
            , <&key_physical_attrs 100 100 1700  350       0     0     0>
            , <&key_physical_attrs 100 100    0  450       0     0     0>
            , <&key_physical_attrs 100 100  100  450       0     0     0>
            , <&key_physical_attrs 100 100  200  400       0     0     0>
            , <&key_physical_attrs 100 100  300  400       0     0     0>
            , <&key_physical_attrs 100 100  400  400       0     0     0>
            , <&key_physical_attrs 100 100  500  400       0     0     0>
            , <&key_physical_attrs 100 100  400  450    3000   450   925>
            , <&key_physical_attrs 100 100  400  450    4500   450   925>
            , <&key_physical_attrs 100 100  400  450    6000   450   925>
            , <&key_physical_attrs 100 100 1300  450 (-6000)  1350   925>
            , <&key_physical_attrs 100 100 1300  450 (-4500)  1350   925>
            , <&key_physical_attrs 100 100 1300  450 (-3000)  1350   925>
            , <&key_physical_attrs 100 100 1200  400       0     0     0>
            , <&key_physical_attrs 100 100 1300  400       0     0     0>
            , <&key_physical_attrs 100 100 1400  400       0     0     0>
            , <&key_physical_attrs 100 100 1500  400       0     0     0>
            , <&key_physical_attrs 100 100 1600  450       0     0     0>
            , <&key_physical_attrs 100 100 1700  450       0     0     0>
            , <&key_physical_attrs 100 100    0  550       0     0     0>
            , <&key_physical_attrs 100 100  100  550       0     0     0>
            , <&key_physical_attrs 100 100  200  500       0     0     0>
            , <&key_physical_attrs 100 100  300  500       0     0     0>
            , <&key_physical_attrs 100 100  400  500       0     0     0>
            , <&key_physical_attrs 100 100  400  550    2000   450   925>
            , <&key_physical_attrs 100 100  400  550    4000   450   925>
            , <&key_physical_attrs 100 100  400  550    6000   450   925>
            , <&key_physical_attrs 100 100 1300  550 (-6000)  1350   925>
            , <&key_physical_attrs 100 100 1300  550 (-4000)  1350   925>
            , <&key_physical_attrs 100 100 1300  550 (-2000)  1350   925>
            , <&key_physical_attrs 100 100 1300  500       0     0     0>
            , <&key_physical_attrs 100 100 1400  500       0     0     0>
            , <&key_physical_attrs 100 100 1500  500       0     0     0>
            , <&key_physical_attrs 100 100 1600  550       0     0     0>
            , <&key_physical_attrs 100 100 1700  550       0     0     0>
            ;
    };
};

&adc {
    status = "okay";
};

&gpiote {
    status = "okay";
};

&gpio0 {
    status = "okay";
};

&gpio1 {
    status = "okay";
};

zephyr_udc0: &usbd {
    status = "okay";
};

&flash0 {
    /*
     * For more information, see:
     * http://docs.zephyrproject.org/latest/devices/dts/flash_partitions.html
     */
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        sd_partition: partition@0 {
            reg = <0x00000000 0x00026000>;
        };
        code_partition: partition@26000 {
            reg = <0x00026000 0x000c6000>;
        };

        /*
         * The flash starting at 0x000ec000 and ending at
         * 0x000f3fff is reserved for use by the application.
         */

        /*
         * Storage partition will be used by FCB/LittleFS/NVS
         * if enabled.
         */
        storage_partition: partition@ec000 {
            reg = <0x000ec000 0x00008000>;
        };

        boot_partition: partition@f4000 {
            reg = <0x000f4000 0x0000c000>;
        };
    };
};
