# Copyright (c) 2023 Matt Adereth
# SPDX-License-Identifier: MIT
if SHIELD_DACTYL_TRACER_LEFT

config ZMK_KEYBOARD_NAME
    default "Dactyl Tracer"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DACTYL_TRACER_LEFT || SHIELD_DACTYL_TRACER_RIGHT

config ZMK_SPLIT
    default y

endif
