# Copyright (c) 2021 Mike "KemoNine" Crosson
# Copyright (c) 2021 jpconstantineau
# Copyright (c) 2021 DonPavlov

# SPDX-License-Identifier: MIT

config SHIELD_BLUEHAND
	def_bool $(shields_list_contains,bluehand)