
config BOARD_NATIVE_SIM
    bool
    select POSIX_ARCH_CONSOLE
    select NATIVE_LIBRARY
    select NATIVE_POSIX_TIMER
    select 64BIT if BOARD_NATIVE_SIM_NATIVE_ZMK_TEST_MOCK || BOARD_NATIVE_SIM_NATIVE_ZMK_DISPLAY_TESTING
    imply BOARD_NATIVE_POSIX if NATIVE_SIM_NATIVE_POSIX_COMPAT
    help
      Native simulator (Single Core)
      Will produce a console Linux process which can be executed natively.
