# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if BOARD_MDBT50Q

config BOARD
  default "mdbt50q"

if USB

config USB_NRFX
  default y

config USB_DEVICE_STACK
  default y

endif # USB

config BT_CTLR
  default BT

config ZMK_BLE
  default y

config ZMK_USB
  default n

config ZMK_SLEEP
  default y

endif # BOARD_MDBT50Q
