if SHIELD_ORTHRUS_LEFT

config ZMK_KEYBOARD_NAME
  default "Orthrus"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
  default y

endif

if SHIELD_ORTHRUS_LEFT || SHIELD_ORTHRUS_RIGHT

config ZMK_SPLIT
  default y
 
endif
