# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_SPLITKB_AURORA_SOFLE_LEFT
    def_bool $(shields_list_contains,splitkb_aurora_sofle_left)

config SHIELD_SPLITKB_AURORA_SOFLE_RIGHT
    def_bool $(shields_list_contains,splitkb_aurora_sofle_right)
