# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_TIDBIT
	def_bool $(shields_list_contains,tidbit)

config SHEILD_TIDBIT_19KEY
	def_bool $(shields_list_contains,tidbit_19key)