# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_HILLSIDE_LEFT

config ZMK_KEYBOARD_NAME
    default "Hillside"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif

if SHIELD_HILLSIDE_LEFT || SHIELD_HILLSIDE_RIGHT

config ZMK_SPLIT
    default y

endif