/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/ {
	behaviors {
		/omit-if-no-ref/ bt: behavior_bluetooth {
			compatible = "zmk,behavior-bluetooth";
			label = "BLUETOOTH";
			#binding-cells = <2>;
		};
	};
};
