/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/keys.h>

#define ZMK_STUDIO_BEHAVIORS_KEEP_CAPS_WORD BALES

/ {
    behaviors {
#if !defined(ZMK_STUDIO_BEHAVIORS_KEEP_ALL) && !defined(ZMK_STUDIO_BEHAVIORS_KEEP_CAPS_WORD)
        /omit-if-no-ref/
#endif
        caps_word: caps_word {
            compatible = "zmk,behavior-caps-word";
            #binding-cells = <0>;
            continue-list = <UNDERSCORE BACKSPACE DELETE>;
            display-name = "Caps Word";
        };
    };
};

