/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/keys.h>

/ {
	behaviors {
		/omit-if-no-ref/ caps_word: behavior_caps_word {
			compatible = "zmk,behavior-caps-word";
			label = "CAPS_WORD";
			#binding-cells = <0>;
			mods = <MOD_LSFT>;
			continue-list = <UNDERSCORE BACKSPACE DELETE>;
			ignore-alphas;
			ignore-numbers;
			ignore-modifiers;
		};
	};

	behaviors {
		/omit-if-no-ref/ num_word: behavior_num_word {
			compatible = "zmk,behavior-caps-word";
			label = "NUM_WORD";
			#binding-cells = <0>;
			// layers = <xx>; // to be specified in user config using "&num_word { layers = <xx>; };"
			continue-list = <BACKSPACE DELETE DOT COMMA>;
			ignore-numbers;
		};
	};
};

