/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/keys.h>

/ {
	behaviors {
		/omit-if-no-ref/ key_repeat: behavior_key_repeat {
			compatible = "zmk,behavior-key-repeat";
			label = "KEY_REPEAT";
			#binding-cells = <0>;
			usage-pages = <HID_USAGE_KEY>;
		};
	};
};

