/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/ {
    behaviors {
        /* DEPRECATED: `cp` will be removed in the future */
        /omit-if-no-ref/ cp: kp: key_press {
            compatible = "zmk,behavior-key-press";
            #binding-cells = <1>;
        };
    };
};
