/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/ {
	behaviors {
		/omit-if-no-ref/ kt: behavior_key_toggle {
			compatible = "zmk,behavior-key-toggle";
			label = "KEY_TOGGLE";
			#binding-cells = <1>;
		};
	};
};
