/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/ {
    behaviors {
        /omit-if-no-ref/ kt: key_toggle {
            compatible = "zmk,behavior-key-toggle";
            #binding-cells = <1>;
        };
    };
};
