/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/ {
	behaviors {
		lt: behavior_layer_tap {
			compatible = "zmk,behavior-hold-tap";
			label = "LAYER_TAP";
			#binding-cells = <2>;
			flavor = "tap-preferred";
			tapping_term_ms = <200>;
			bindings = <&mo>, <&kp>;
		};
	};
};
