/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/ {
    behaviors {
        /omit-if-no-ref/ mo: momentary_layer {
            compatible = "zmk,behavior-momentary-layer";
            #binding-cells = <1>;
        };
    };
};
