/ {
	behaviors {
		/omit-if-no-ref/ mmv: behavior_mouse_move {
			compatible = "zmk,behavior-mouse-move";
			label = "MOUSE_MOVE";
			#binding-cells = <1>;
			delay-ms = <100>;
			time-to-max-speed-ms = <1000>;
			acceleration-exponent = <2000>;
		};
	};
};
