/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/reset.h>

/ {
	behaviors {
		reset: behavior_reset {
			compatible = "zmk,behavior-reset";
			label = "RESET";
			#binding-cells = <0>;
		};

		bootloader: behavior_reset_dfu {
			compatible = "zmk,behavior-reset";
			label = "BOOTLOAD";
			type = <RST_UF2>;
			#binding-cells = <0>;
		};
	};
};
