
#include <dt-bindings/zmk/hid_usage_pages.h>

/ {
	behaviors {
		inc_dec: inc_dec_cp: inc_dec_kp: behavior_sensor_rotate_key_press {
			compatible = "zmk,behavior-sensor-rotate-key-press";
			label = "ENC_KEY_PRESS";
			#sensor-binding-cells = <2>;
		};
	};
};
