/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/ {
	behaviors {
		/omit-if-no-ref/ sk: behavior_sticky_key {
			compatible = "zmk,behavior-sticky-key";
			label = "STICKY_KEY";
			#binding-cells = <1>;
			release-after-ms = <1000>;
			bindings = <&kp>;
		};
		/omit-if-no-ref/ sl: behavior_sticky_layer {
			compatible = "zmk,behavior-sticky-key";
			label = "STICKY_LAYER";
			#binding-cells = <1>;
			release-after-ms = <1000>;
			bindings = <&mo>;
			quick-release;
		};
	};

};

