/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/ {
	behaviors {
		/omit-if-no-ref/ to: behavior_to_layer {
			compatible = "zmk,behavior-to-layer";
			label = "TO_LAYER";
			#binding-cells = <1>;
		};
	};
};
