/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/ {
	behaviors {
		/omit-if-no-ref/ trans: behavior_transparent {
			compatible = "zmk,behavior-transparent";
			label = "TRANS";
			#binding-cells = <0>;
		};
	};
};
