/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/ {
    behaviors {
        /omit-if-no-ref/ trans: transparent {
            compatible = "zmk,behavior-transparent";
            #binding-cells = <0>;
            display-name = "Transparent";
        };
    };
};
