#include <dt-bindings/zmk/keys.h>
#include <behaviors/key_press.dtsi>
#include <behaviors/reset.dtsi>
#include <behaviors/keymap.dtsi>
#include <keymap.h>

/ {
	chosen {
		zmk,keymap = &keymap0;
		zmk,global_bindings = &bindings;
	};

	bindings: global_bindings {
		compatible = "zmk,global-bindings";
		bindings = <&reset>;
	};
	keymap0: keymap {
		compatible = "zmk,keymap";
		label ="Default keymap";
		layers = <&default &lower &raise>;
	};

	layers {
		compatible = "zmk,layers";

		default: layer_0 {
			label = "DEFAULT";
			keys =
	<
	KC_A MT(MOD_LSFT, KC_B)    ZC_NO ZC_NO
	CC_RAIS CC_LOWR            ZC_NO ZC_NO
	>;
			bindings = <
				&reset &kp 0
				&kp 1  &kp 2>;
		};

		lower: layer_1 {
			label = "LOWER";
			keys = <
			KC_MPLY KC_MNXT    ZC_NO ZC_NO
			ZC_TRNS ZC_TRNS    ZC_NO ZC_NO
			>;

			bindings = <
				&reset &kp 0
				&kp 1  &kp 2>;
		};

		raise: layer_2 {
			label = "RAISE";
			keys = <
			KC_C KC_D          ZC_NO ZC_NO
			ZC_TRNS ZC_TRNS    ZC_NO ZC_NO>;

			bindings = <
				&reset &kp 0
				&kp 1  &kp 2>;
		};
	};
};
