# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: Apache-2.0

config BOARD_MIKOTO
    select SOC_NRF52840_QIAA
    imply RETAINED_MEM
    imply RETENTION
    imply RETENTION_BOOT_MODE
    imply I2C if BOARD_REVISION="7.2.0"
