# Copyright (c) 2026 Pete Johanson
# SPDX-License-Identifier: MIT

config BOARD_BOARDSOURCE_BLOK
    select ZMK_BOARD_COMPAT if BOARD_BOARDSOURCE_BLOK_RP2040_ZMK
    imply RETAINED_MEM if BOARD_BOARDSOURCE_BLOK_RP2040_ZMK
    imply RETENTION if BOARD_BOARDSOURCE_BLOK_RP2040_ZMK
    imply RETENTION_BOOT_MODE if BOARD_BOARDSOURCE_BLOK_RP2040_ZMK

