# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT
 
 
if SHIELD_QUEFRENCY_LEFT

config ZMK_KEYBOARD_NAME
	default "Quefrency Left"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_QUEFRENCY_RIGHT

config ZMK_KEYBOARD_NAME
	default "Quefrency Right"

endif

if SHIELD_QUEFRENCY_LEFT || SHIELD_QUEFRENCY_RIGHT

config ZMK_SPLIT
	default y

endif