#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ------------------------------------------------------------------------------------------------------------------------------------------------
// |  ESC    |    Q    |    W    |    E    |    R    |    T    |                      |    Y    |    U    |    I    |    O    |    P    |    \    |
// |  SHIFT  |    A    |    S    |    D    |    F    |    G    |                      |    H    |    J    |    K    |    L    |    ;    |    '    |
// |  SHIFT  |    Z    |    X    |    C    |    V    |    B    |                      |    N    |    M    |    ,    |    .    |    /    |    =    |
//                     |   LALT  |   GUI   |  LOWER  |   SPC   |   LBKT  |  |  RBKT   |   RET   |  RAISE  |    /    |  R CTRL |
            bindings = <
    &kp ESC    &kp Q    &kp W     &kp E     &kp R     &kp T                            &kp Y     &kp U     &kp I     &kp O     &kp P     &kp BSLH
    &kp TAB    &kp A    &kp S     &kp D     &kp F     &kp G                            &kp H     &kp J     &kp K     &kp L     &kp SEMI  &kp SQT
    &kp LSHIFT &kp Z    &kp X     &kp C     &kp V     &kp B                            &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH  &kp EQL
                        &kp LALT  &kp GUI   &mo LOWER &kp SPACE &kp LBKT      &kp RBKT &kp RET   &mo RAISE &kp BSPC  &kp DEL
            >;
        };
        
        lower_layer {
// ------------------------------------------------------------------------------------------------------------------------------------------------
// |  F1     |   F2    |   F3    |   F4    |   F5    |   F6    |                      |   F7    |   F8    |   F9    |   F10   |   F11   |   F12   |
// |  1      |   2     |   3     |   4     |   5     |   6     |                      |   7     |   8     |   9     |    0    |  VOLU   |  VOLD   |
// |  SHIFT  |    Z    |    X    |    C    |    V    |    B    |                      |    N    |    M    |    <    |    >    |    ?    |    +    |
//                     |   LALT  |   GUI   |  LOWER  |   SPC   | KP_LPAR |  | KP_RPAR |   RET   |  RAISE  |    /    |  R CTRL |
            bindings = <
    &kp F1    &kp F2    &kp F3    &kp F4    &kp F5    &kp F6                           &kp F7    &kp F8    &kp F9    &kp F10   &kp F11   &kp F12
    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5    &kp N6                           &kp N7    &kp N8    &kp N9    &kp N0    &kp VOLU  &kp VOLD
    &kp LSHIFT &kp Z    &kp X     &kp C     &kp V     &kp B                            &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH  &kp EQL
                        &kp LALT  &kp GUI   &mo LOWER &kp SPACE &kp LPAR     &kp RPAR  &kp RET   &mo RAISE &kp BSPC  &kp DEL
            >;
        };
        
        raise_layer {
// ------------------------------------------------------------------------------------------------------------------------------------------------
// |  F1     |   F2    |   F3    |   F4    |   F5    |   F6    |                      |   F7    |   F8    |   F9    |   F10   |   F11   |   F12   |
// |  1      |   2     |   3     |   4     |   5     |   6     |                      |  LEFT   |  DOWN   |   UP    |  RIGHT  |         |         |
// |  SHIFT  |    Z    |    X    |    C    |    V    |    B    |                      |    N    |    M    |    <    |    >    |    ?    |    +    |
//                     |  LALT   |   GUI   |  LOWER  |   SPC   | KP_LPAR |  | KP_RPAR |   RET   |  RAISE  |    /    |  R CTRL |
            bindings = <
    &kp F1    &kp F2    &kp F3    &kp F4    &kp F5    &kp F6                           &kp F7    &kp F8    &kp F9    &kp F10   &kp F11   &kp F12
    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5    &kp N6                           &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT &kp SEMI  &kp SQT
    &kp LSHIFT &kp Z    &kp X     &kp C     &kp V     &kp B                            &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH  &kp EQL
                        &kp LALT  &kp GUI   &mo LOWER &kp SPACE &kp LPAR     &kp RPAR  &kp RET   &mo RAISE &kp BSPC  &kp DEL
            >;
        };
    };
};