/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
ledmap {
	compatible = "zmk,ledmap";
	num_of_led = <108>;
	ledmap = <1  0  3  5  7  9 11 13 15 65  0 67 69 71 73 75 77 79
		17 20 22 24 26 28 30 80 81 82 83 84 85  0 86 87 88 90
		19 21 23 25 27 29 31 96 98 100 102 104 106 0 108 109 110 92
		34 36 38 40 42 44 46 97 99 101 103 105 0 0 107 0 0 0
		35 0  37 39 41 43 45 47 112 113 114 115 0 0 119 0 111 0
		49 51 53 0 0 0 0 57 0 0 0 62 116 118 121 123 125 127>;
};
keymap {
	compatible = "zmk,keymap";

	default_layer {
		bindings = <
			&kp ESC   &none &kp F1   &kp F2   &kp F3   &kp F4   &kp F5   &kp F6    &kp F7    &kp F8    &none &kp F9     &kp F10   &kp F11  &kp F12   &kp PRSC   &kp PAUS &kp SCLK
 			&kp TILDE &kp N1   &kp N2   &kp N3   &kp N4   &kp N5   &kp N6   &kp N7    &kp   N8  &kp  N9   &kp  N0  &kp MINUS  &kp EQUAL &none &kp BSPC  &kp INS    &kp HOME &kp PG_UP
			&kp TAB   &kp Q    &kp W    &kp E    &kp R    &kp T    &kp Y    &kp U     &kp   I   &kp  O    &kp   P  &kp LBKT   &kp RBKT  &none &kp BSLH  &kp DELETE &kp END  &kp PG_DN
			&kp CLCK  &kp A    &kp S    &kp D    &kp F    &kp G    &kp H    &kp J     &kp   K   &kp  L    &kp SEMI &kp SQT    &none  &none &kp RET   &none   &none &none
			&kp LSHFT &none &kp Z    &kp X    &kp C    &kp V    &kp B    &kp N     &kp M     &kp COMMA &kp DOT  &kp FSLH   &none  &none &kp RSHFT &none   &kp UP   &none
			&kp LCTRL &kp LGUI &kp LALT &none &none &none &none &kp SPACE &none  &none  &none &kp RALT   &none  &kp RGUI &kp RCTRL &kp LEFT   &kp DOWN &kp RIGHT
			>;
		sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
		};
	};
};
