/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>


/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
&kp KP_NUMLOCK &kp KP_DIVIDE &kp KP_MULTIPLY &kp KP_MINUS
&kp KP_N7      &kp KP_N8     &kp KP_N9       &kp KP_PLUS
&kp KP_N4      &kp KP_N5     &kp KP_N6
&kp KP_N1      &kp KP_N2     &kp KP_N3       &kp KP_ENTER
&kp KP_N0                    &kp KP_DOT
			>;
		};
	};
};

