#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/kscan_mock.h>

&kscan {
    events = <
    /* Toggle LS(A) on */
        ZMK_MOCK_PRESS(0,0,10)
        ZMK_MOCK_RELEASE(0,0,10)
    /* Toggle LS(A) off */
        ZMK_MOCK_PRESS(0,0,10)
        ZMK_MOCK_RELEASE(0,0,10)
    /* Press A */
        ZMK_MOCK_PRESS(1,0,10)
    /* Toggle LS(A) on */
        ZMK_MOCK_PRESS(0,0,10)
        ZMK_MOCK_RELEASE(0,0,10)
    /* Toggle LS(A) off */
        ZMK_MOCK_PRESS(0,0,10)
        ZMK_MOCK_RELEASE(0,0,10)
    /* Release A */
        ZMK_MOCK_RELEASE(1,0,10)
    >;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kt LS(A) &trans
                &kp A &trans
            >;
        };
    };
};