/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// --------------------------
// | 7      |  8  |  9      |
// | 4      |  5  |  6      |
// | 1      |  2  |  3      |
// | M_PLAY |  0  |  MO(1)  |
// --------------------------
            bindings = <
    &kp N7   &kp N8 &kp N9
    &kp N4   &kp N5 &kp N6
    &kp N1   &kp N2 &kp N3
    &kp C_PP &kp N0 &mo 1
            >;

            sensor-bindings = <&inc_dec_kp C_NEXT C_PREV>;
        };

         nav_layer {
// --------------------------
// | BT_CLR |  HOME |  PGUP |
// | _      |  END  |  PGDN |
// | _      |  _    |  _    |
// | _      |  _    |  _    |
// --------------------------
             bindings = <
     &bt BT_CLR &kp HOME &kp PG_UP
     &trans     &kp END  &kp PG_DN
     &trans     &trans   &trans
     &trans     &trans   &trans
             >;

             sensor-bindings = <&inc_dec_kp A B>;
         };
    };
};