# Copyright (c) 2026 Pete Johanson
# SPDX-License-Identifier: MIT

config BOARD_SEEEDUINO_XIAO
    select ZMK_BOARD_COMPAT if BOARD_SEEEDUINO_XIAO_SAMD21G18A_ZMK
    imply RETAINED_MEM if BOARD_SEEEDUINO_XIAO_SAMD21G18A_ZMK
    imply RETENTION if BOARD_SEEEDUINO_XIAO_SAMD21G18A_ZMK
    imply RETENTION_BOOT_MODE if BOARD_SEEEDUINO_XIAO_SAMD21G18A_ZMK

