
#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

#include <behaviors.dtsi>
#include <input/processors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/kscan_mock.h>
#include <dt-bindings/zmk/pointing.h>

&mmv_input_listener {
    input-processors = <&auto_mouse_layer 1 500>;
};

/ {
    auto_mouse_layer: auto_mouse_layer {
        compatible = "zmk,input-processor-temp-layer";
        #input-processor-cells = <2>;
        require-prior-idle-ms = <500>;
    };
    keymap {
        compatible = "zmk,keymap";
        label ="Default keymap";

        default_layer {
            bindings = <
                &mmv MOVE_LEFT &mmv MOVE_UP
                &kp A &none
            >;
        };

        mkp_layer {
            bindings = <&mkp LCLK &mkp RCLK &trans &trans>;
        };
    };
};


&kscan {
    events = <
        ZMK_MOCK_PRESS(1,0,10)
        ZMK_MOCK_RELEASE(1,0,100)
        /* before idle */
        ZMK_MOCK_PRESS(0,0,150)
        ZMK_MOCK_RELEASE(0,0,200)
        /* after idle */
        ZMK_MOCK_PRESS(0,0,700)
        ZMK_MOCK_RELEASE(0,0,800)
    >;
};
