# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT
 
 
if SHIELD_LEVINSON_LEFT

config ZMK_KEYBOARD_NAME
	default "Levinson Left"

endif

if SHIELD_LEVINSON_RIGHT

config ZMK_KEYBOARD_NAME
	default "Levinson Right"

endif
