# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_LEVINSON_LEFT
	def_bool $(shields_list_contains,levinson_left)

config SHIELD_LEVINSON_RIGHT
	def_bool $(shields_list_contains,levinson_right)
