if SHIELD_DOKKAEBI_LEFT

config ZMK_KEYBOARD_NAME
    default "dokkaebi"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DOKKAEBI_LEFT || SHIELD_DOKKAEBI_RIGHT

config ZMK_SPLIT
    default y

endif